<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto o amor cura</title>

	<script type="text/javascript" th:src="@{/webjars/momentjs/2.24.0/moment.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-mask-plugin/1.13.4/src/jquery.mask.js}"></script>
    <script type="text/javascript" th:src="@{/js/inscricao.js}"></script>
    <link rel="shortcut icon" th:href="@{/images/cyb-logo.png}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">

    <!-- Main css-->
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light" style="justify-content: center; background-color:#F3F5F6">
		<img width="500px" height="100px" alt="" th:src="@{/images/cyb-logo.png}">
	</nav>


    <div class="main">
        <div class="container">
            <form method="POST" class="appointment-form col-md-10\z v" id="appointment-form" >
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="mensagemSucesso" style="display: none">
			  <h4 class="alert-heading"><i class="fas fa-check"></i> Inscrição realizada com sucesso!</h4>
			  <p>Boa sorte.</p>
			  <button type="button" class="close" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="alert alert-primary alert-dismissible fade show" role="alert" id="mensagensValidacao" style="display: none">
			   <span>teste</span>
			   <button type="button" class="close" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
                <h2>Informe seus dados abaixo</h2>
                <h3>Dados pessoais</h3>
                <div class="form-group-1">
                    <input type="text" name="nome" id="nome" placeholder="Nome" required />
                    <input type="text" name="dataNascimento" id="dataNascimento" placeholder="Data nascimento" required />
                    
                    <input type="number" name="rg" id="rg" placeholder="RG" style="width: 50%; "/>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF" required style="width: 48%; "/>
                    <input type="text" name="rendaMensal" id="rendaMensal" placeholder="Renda mensal(R$)" required/>
                     
                </div>
                <div class="form-group-2">
                    <h3>Contatos</h3>
                    <input type="email" name="email" id="email" placeholder="Email"  />
                    <input type="text" name="celular" id="celular" placeholder="Celular (DDD) + número " />
                </div>

                <div class="form-group-2">
                    <h3>Endereço</h3>
                    <input type="text" name="rua" id="rua" placeholder="Rua" required />
                    <input type="number" name="numero" id="numero" placeholder="Número" required style="width: 35%; "/>
                    <input type="text" name="complemento" id="complemento" placeholder="Complemento" style="width: 63%; "/>
                    <input type="text" name="bairro" id="bairro" placeholder="Bairro" required style="width: 50%; "/>
                    <input type="text" name="cidade" id="cidade" placeholder="Cidade" required style="width: 48%; "/>
                    <input type="text" name="estado" id="estado" placeholder="Estado" required />
                </div>

                <div class="form-group-2">
                    <h3>Fale mais sobre você</h3>
                    <textarea  name="descricaoDoenca" id="descricaoDoenca" placeholder="Possui alguma doença? Se sim, qual?" ></textarea>
                    <textarea  name="motivoConsulta" id="motivoConsulta" placeholder="Por qual motivo você ou sua indicação merece a consulta?" required ></textarea>
                </div>
                 
                <div class="form-submit" style="text-align: center; margin-bottom: 5%">
                    <input type="submit" name="submit" id="submit" class="submit" value="Realizar inscrição" />
                </div>
				
				<div class="socialmediaicons" style="display: flex; justify-content: center">
                   <a href="https://www.instagram.com/cybnutri/" class="fab fa-instagram"></a>
				</div>
            </form>
        </div>

    </div>

    <!-- JS -->
    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
